redirectsOrigin = "config"
plugins = []

[functions]

[functions."*"]

[build]
publish = "G:\\restaurant\\Sudip\\tasty-bite-harbor\\dist"
publishOrigin = "ui"
commandOrigin = "ui"
command = "npm run build"

[build.environment]

[build.processing]

[build.processing.css]

[build.processing.html]

[build.processing.images]

[build.processing.js]

[build.services]

[[headers]]
for = "/sw.js"

[headers.values]
Cache-Control = "max-age=0, no-cache, no-store, must-revalidate"

[[headers]]
for = "/version.json"

[headers.values]
Cache-Control = "max-age=0, no-cache, no-store, must-revalidate"

[[headers]]
for = "/assets/*"

[headers.values]
Cache-Control = "public, max-age=31536000, immutable"

[[headers]]
for = "/*.js"

[headers.values]
Cache-Control = "public, max-age=604800"

[[headers]]
for = "/*.css"

[headers.values]
Cache-Control = "public, max-age=604800"

[[headers]]
for = "/*.ico"

[headers.values]
Cache-Control = "public, max-age=604800"

[[headers]]
for = "/*.png"

[headers.values]
Cache-Control = "public, max-age=604800"

[[headers]]
for = "/*.jpg"

[headers.values]
Cache-Control = "public, max-age=604800"

[[headers]]
for = "/*.svg"

[headers.values]
Cache-Control = "public, max-age=604800"

[[headers]]
for = "/*.html"

[headers.values]
Cache-Control = "public, max-age=0, must-revalidate"

[[headers]]
for = "/index.html"

[headers.values]
Cache-Control = "public, max-age=0, must-revalidate"

[[headers]]
for = "/manifest.json"

[headers.values]
Content-Type = "application/manifest+json"
Cache-Control = "public, max-age=0, must-revalidate"

[[headers]]
for = "/.well-known/*"

[headers.values]
Content-Type = "application/json"
Access-Control-Allow-Origin = "*"
Cache-Control = "public, max-age=0, must-revalidate"

[[redirects]]
from = "/api/supabase/*"
to = "https://clmsoetktmvhazctlans.supabase.co/:splat"
status = 200.0
force = true

[redirects.query]

[redirects.conditions]

[redirects.headers]

[[redirects]]
from = "/*"
to = "/index.html"
status = 200.0
force = false

[redirects.query]

[redirects.conditions]

[redirects.headers]