
DO  
DECLARE
    tbl text;
    tables text[] := ARRAY['inventory_items', 'inventory_transactions', 'inventory_lots', 'purchase_orders', 'purchase_order_items', 'suppliers'];
BEGIN
    FOREACH tbl IN ARRAY tables LOOP
        EXECUTE format('ALTER TABLE public.%I ENABLE ROW LEVEL SECURITY;', tbl);
        
        -- Drop any existing policies to avoid conflicts
        EXECUTE format('DROP POLICY IF EXISTS "Component-based %I access" ON public.%I;', tbl, tbl);
        EXECUTE format('DROP POLICY IF EXISTS "Enable read access for all users" ON public.%I;', tbl);
        EXECUTE format('DROP POLICY IF EXISTS "Enable insert for authenticated users only" ON public.%I;', tbl);
        EXECUTE format('DROP POLICY IF EXISTS "Enable update for authenticated users only" ON public.%I;', tbl);
        EXECUTE format('DROP POLICY IF EXISTS "Enable delete for authenticated users only" ON public.%I;', tbl);
        
        -- Create a universal authenticated policy for now if component access fails or is missing
        EXECUTE format('CREATE POLICY "Universal access for authenticated users" ON public.%I FOR ALL TO authenticated USING (true) WITH CHECK (true);', tbl);
    END LOOP;
END ;

